body{
    text-align: center;
}
.bodym{
    background-image:url("background.jpg");
    background-repeat: repeat;
}
#btn{
position: relative;    
width: 200px;
height:200px;
border: 1px solid black;
border-radius:10px;
background-color: #2A4494;
text-align: center;
color:#44CFCB;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 70px;
align-content: center;
}
div.box{
    background-image: url(bigpaper.jpg);
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: cover;
}
p{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
p.ques{
    background-color: white;
    color: #177E89;
}
p.content{
    color: #1A181B;
}
pre{
    color: #177E89;
    font-size: 20px;
    text-align:center;
}

#typer{
    height: 50px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#typeb{
    position: relative;    
width: 50px;
height:50px;
border: 1px solid black;
border-radius:10px;
background-color: #2A4494;
text-align: center;
color:#44CFCB;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 20px;

align-content: center;
}
.container{
    text-align: center;
}
.btld{
position: relative;
height : 200px;
width: 200px;
text-align : center;
border: 1px solid #eeeeee;
border-radius: 10px;
background: -webkit-linear-gradient(
 left,
 #dddddd 40%,
 white 70%,
 #dddddd 100%
) repeat;
align-content: center;
display: inline-block;
animation-name: loadon;
animation-iteration-count: infinite;
animation-duration: 1.5s;
}
.brld{
position: relative;
height: 70px;
width:500px;
text-align: center;
display: inline-block;
background: -webkit-linear-gradient(
 left,
 #dddddd 40%,
 white 70%,
 #dddddd 100%
) repeat;
animation-name: loadon1;
animation-iteration-count: infinite;
animation-duration: 1.5s;
}
.txtld{
    text-align: center;
display: inline-block;
background:  -webkit-linear-gradient(
    left,
    #dddddd 40%,
    white 70%,
    #dddddd 100%
   ) repeat;;
animation-name: loadon1;
animation-iteration-count: infinite;
animation-duration: 1.5s;
}
@keyframes loadon {
0% { background-position-y: 0px; }

100%{ 
     background-position-x: 200px; }
}

@keyframes loadon1 {
0% { background-position-y: 0px; }

100%{ 
     background-position-x:500px; }
}