body{
    text-align: center;
    background-image:url("background.jpg");
    background-repeat: repeat;
}

button{
position: relative;    
width: 200px;
height:200px;
border: 1px solid black;
border-radius:10px;
background-color: #2A4494;
text-align: center;
color:#44CFCB;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 70px;
align-content: center;
}
div.box{
    background-image: url(bigpaper.jpg);
    background-repeat: no-repeat;
    border: 1px solid black;
    background-size: cover;
}
p{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
p.ques{
    background-color: white;
    color: #177E89;
}
p.content{
    color: #1A181B;
}